{% extends "layout.html" %}

{% block title %}
    Learning Check 1
{% endblock %}

{% block main %}
    <h1 class="text-center">Learning Check 1</h1>
    <br><br>
    <div class="mb-3 text-left">
        {% for question in questions %}
            <h5>{{question["question"]}}</h5>
            {% if submission[question['number']] == question['answer'] %}
                <h7 style="background-color:MediumSeaGreen;">Your choice: {{submission[question['number']]}}</h7>
            {% else %}
                <h7 style="background-color:Tomato;">Your choice: {{submission[question['number']]}}</h7>
            {% endif %}
                <br>
                <h7>Answer: {{question['answer']}}</h7>
            <br><br>
        {% endfor %}
    </div>
{% endblock %}
